
<!-- <div class="comment-form">
  <h3>Leave a comment</h3>
  <form #form="ngForm" (ngSubmit)="onSubmitPostComment(form.value)" class="well">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" required name="userName" ngModel>
    </div>
    <div class="form-group">
      <label>Comment</label>
      <input type="text" class="form-control" required name="commentBody" ngModel>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

</div> -->

<!--Implementing Angular Material Forms w/o form control-->
<!-- <div class="comment-form">
<form #form="ngForm" (ngSubmit)="onSubmitPostComment(form.value)" class="well">
  <mat-form-field class="form-group" appearance="fill">
    <mat-label>Username:</mat-label>
    <input matInput type="text" class="form-control" placeholder="Ex. User1" value="Username" required name="userName" ngModel>
  </mat-form-field>

  <mat-form-field class="form-group" appearance="fill">
    <mat-label>Leave a comment: </mat-label>
    <textarea matInput placeholder="Ex. In this photo, I see a..." type="text" class="form-control" required name="commentBody" ngModel></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="btn btn-success">Submit</button>
</form>
</div> -->

<!--V3 Angular Material with Formcontrol for reactive forms-->
<div class="comment-form">

  <form [formGroup]="commentForm" (ngSubmit)="onSubmitPostComment()">

    <mat-form-field class="form-group" appearance="fill">
      <mat-label for="userName">Username:</mat-label>
      <input matInput id="userName" type="text" formControlName="userName" placeholder="Ex. User1">
    </mat-form-field>
  
    <mat-form-field class="form-group" appearance="fill">
      <mat-label for="commentBody">Leave a comment: </mat-label>
      <textarea matInput id="commentBody" type="text" formControlName="commentBody" placeholder="Ex. In this photo, I see a..."></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="btn btn-success">Submit</button>

  </form>

</div>