.displayComments{
    height: 700px; 
    width: 600px; 
    background-color: rgb(233, 233, 231); 
    margin-top: -35%;
    margin-right: 10%; 
    float: right;
}

.commentTitle{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 2%;
}

.deck{
    font-size: 15px;
}

.singleComment{
    background-color: rgb(241, 241, 239);
    max-width: 95%;
    height: 50px;
    margin-top: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}